<!DOCTYPE html>
<html lang="en">


<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>IAT Apps Landing Template</title>
      <!-- FAVICON -->
      <link rel="apple-touch-icon" href="assets/img/favicon/apple-touch-icon.png">
      <link rel="icon" href="assets/img/favicon/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/elements.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        <link href="assets/css/responsive.css" rel="stylesheet">

    </head>
        <a href="#slider-section" class="scrolltotop"><span class="ti-angle-double-up"></span></a>
    <body>
        <div class="preloader-wrapper">
            <div class="preloader loading">
              <span class="slice"></span>
              <span class="slice"></span>
              <span class="slice"></span>
              <span class="slice"></span>
              <span class="slice"></span>
              <span class="slice"></span>
            </div>
         </div>

       <!-- HEADER AREA -->
        <header id="sticker" class="header-top headroom">
          <nav class="navbar" >
            <div class="container">
              <div class="navbar-header">
                <a href="#"  class="navbar-brand">
                <img src="assets/img/logo/logo.png" alt="IAT"> </a>

                </div>
              <div  id="navigation">
                  <div class="menu-main-menu-container">
                    <ul id="mainmenu" class="nav navbar-nav navbar-right">
                      <li class="dropdown  current-menu-has-children"><a href="#slider-section">Home</a>
                        <ul class="dropdown-nav dropdown-nav-left">
                            <li><a href="index.html">Home One</a></li>
                            <li><a href="index-2.html">Home Two</a></li>
                            <li><a href="index-3.html">Home Three</a></li>
                            <li><a href="index-4.html">Home Four</a></li>
                            <li><a href="index-5.html">Home Five</a></li>
                            <li><a href="index-6.html">Home Six</a></li>
                            <li><a href="index-7.html">Home Seven</a></li>
                            <li><a href="index-8.html">Home Eight</a></li>
                        </ul>
                      </li>
                      <li class=""><a href="#about">About</a></li>
                      <li class=""><a href="#features">Features</a></li>
                      <li class=""><a href="#screenshots">Screenshots</a></li>
                      <li class=""><a href="#Pricing">Pricing</a></li>
                      <li class="dropdown  current-menu-has-children">
                        <a href="#blog">Blog</a>
                        <ul class="dropdown-nav dropdown-nav-left">
                            <li><a href="blog-details.html">Blog post Details</a></li>
                            <li><a href="full-blog.html">Blog Post Full</a></li>
                            <li><a href="blog-left-sideber.html">Blog Left Sidebar</a></li>
                            <li><a href="blog-right-sideber.html">Blog Right Sidebar</a></li>
                        </ul>
                      </li>
                      <li class="dropdown  current-menu-has-children">
                        <a href="#">Pages</a>
                        <ul class="dropdown-nav dropdown-nav-left">
                            <li><a href="about.html">About Page </a></li>
                            <li><a href="feature.html">Features Page</a></li>
                            <li><a href="pricing-table.html">Pricing Table</a></li>
                            <li><a href="contact.html">Contact Page</a></li>
                            <li><a href="team.html">Team Member</a></li>
                            <li><a href="testimonial.html">Customer Review</a></li>
                            <li><a href="faq.html">Faq Page</a></li>
                            <li><a href="register.html">Register Page</a></li>
                            <li><a href="login.html">Login Page</a></li>
                            <li><a href="forget-passward.html">Forget Password</a></li>
                            <li><a href="coming-soon.html">Coming Soon Page</a></li>
                            <li><a href="404.html">404 Error Page</a></li>
                        </ul>
                      </li>
                      <li class=""><a href="#contact-section">Contact</a></li>
                    </ul>
                </div>
              </div>
              </div>
          </nav>
        </header>
        <section class="blog-full-page-area">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="blog-page-content-table">
                  <div class="blog-table-cell">
                    <h2>Blog Post</h2>
                    <h4>Blog Post With Sidebar</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
    <!-- blog AREA  -->

    <section class="latest-blog-area wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ">
                    <div class="row mb-50">
                        <div class="col-md-6">
                            <div class="single-blog-box">
                                <div class="single-blog-image">
                                    <a href="#"><img src="assets/img/blog/blog-1.jpg" alt="place your img"></a>
                                </div>
                                <div class="post-meta clearfix">
                                    <div class="posted-by pull-left">
                                        <p><a href="#"><span class="ti-user"></span>Feb 01.2017</a></p>
                                    </div>
                                    <div class="post-date pull-right">
                                        <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                                    </div>
                                </div>
                                <div class="blog-heading">
                                    <a href="#"><h2>Beautiful Place for your Great Journey</h2></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-blog-box">
                                <div class="single-blog-image">
                                    <a href="#"><img src="assets/img/blog/blog-2.jpg" alt="place your img"></a>
                                </div>
                                <div class="post-meta clearfix">
                                    <div class="posted-by pull-left">
                                        <p><a href="#"><span class="ti-user"></span>Feb 01.2017</a></p>
                                    </div>
                                    <div class="post-date pull-right">
                                        <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                                    </div>
                                </div>
                                <div class="blog-heading">
                                    <a href="#"><h2>Beautiful Place for your Great Journey</h2></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-50">
                        <div class="col-md-6">
                            <div class="single-blog-box">
                                <div class="single-blog-image">
                                    <a href="#"><img src="assets/img/blog/blog-3.jpg" alt="place your img"></a>
                                </div>
                                <div class="post-meta clearfix">
                                    <div class="posted-by pull-left">
                                        <p><a href="#"><span class="ti-user"></span>Feb 01.2017</a></p>
                                    </div>
                                    <div class="post-date pull-right">
                                        <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                                    </div>
                                </div>
                                <div class="blog-heading">
                                    <a href="#"><h2>Beautiful Place for your Great Journey</h2></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-blog-box">
                                <div class="single-blog-image">
                                    <a href="#"><img src="assets/img/blog/blog-1.jpg" alt="place your img"></a>
                                </div>
                                <div class="post-meta clearfix">
                                    <div class="posted-by pull-left">
                                        <p><a href="#"><span class="ti-user"></span>Feb 01.2017</a></p>
                                    </div>
                                    <div class="post-date pull-right">
                                        <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                                    </div>
                                </div>
                                <div class="blog-heading">
                                    <a href="#"><h2>Beautiful Place for your Great Journey</h2></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single-blog-box">
                                <div class="single-blog-image">
                                    <a href="#"><img src="assets/img/blog/blog-2.jpg" alt="place your img"></a>
                                </div>
                                <div class="post-meta clearfix">
                                    <div class="posted-by pull-left">
                                        <p><a href="#"><span class="ti-user"></span>Feb 01.2017</a></p>
                                    </div>
                                    <div class="post-date pull-right">
                                        <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                                    </div>
                                </div>
                                <div class="blog-heading">
                                    <a href="#"><h2>Beautiful Place for your Great Journey</h2></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-blog-box">
                                <div class="single-blog-image">
                                    <a href="#"><img src="assets/img/blog/blog-3.jpg" alt="place your img"></a>
                                </div>
                                <div class="post-meta clearfix">
                                    <div class="posted-by pull-left">
                                        <p><a href="#"><span class="ti-user"></span>Feb 01.2017</a></p>
                                    </div>
                                    <div class="post-date pull-right">
                                        <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                                    </div>
                                </div>
                                <div class="blog-heading">
                                    <a href="#"><h2>Beautiful Place for your Great Journey</h2></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-right-search-button">
                        <div class="search-button">
                            <input type="text" placeholder="Enter Your Keyword">
                            <button><img src="assets/img/icons/search-icon.png" alt="search-icon"></button>
                        </div>
                    </div>
                    <div class="blog-categories-right">
                        <h2>Categories</h2>
                        <div class="categories-right-list">
                            <ul>
                                <li><a href="#">Adventures (12)</a></li>
                                <li><a href="#">Traveling (08)</a></li>
                                <li class="active"><a href="#">Lifestyle (10)</a></li>
                                <li><a href="#">Foods (05)</a></li>
                                <li><a href="#">Trendy Fashion (07)</a></li>
                                <li><a href="#">Popular (07)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-recent-post">
                        <h3>Recent Post</h3>
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                <div class="blog-recent-post-image-1">
                                    <a href="#"><img src="assets/img/blog/recent-post-bg-1.jpg" alt="recent-post-bg"></a>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-7">
                                <div class="blog-recent-post-content">
                                    <p>Feb 01, 2017</p>
                                    <a href="#">
                                        <h2>Lorem Imsum Dummy Text Title Goes.</h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                <div class="blog-recent-post-image-1">
                                    <a href="#"> <img src="assets/img/blog/recent-post-bg-2.jpg" alt="recent-post-bg"></a>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-7">
                                <div class="blog-recent-post-content">
                                    <p>Feb 01, 2017</p>
                                    <a href="#">
                                        <h2>Lorem Imsum Dummy Text Title Goes.</h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                <div class="blog-recent-post-image-1">
                                    <a href="#"> <img src="assets/img/blog/recent-post-bg-3.jpg" alt="recent-post-bg"></a>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-7">
                                <div class="blog-recent-post-content">
                                    <p>Feb 01, 2017</p>
                                    <a href="#">
                                        <h2>Lorem Imsum Dummy Text Title Goes.</h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-tag-cloud">
                        <h2>Tags Cloud</h2>
                        <div class="blog-tag-cloud-list">
                            <ul>
                                <li><a href="#">Travels</a></li>
                                <li class="active"><a href="#">Adverture</a></li>
                                <li><a href="#">Foods</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Traveling</a></li>
                                <li><a href="#">Photography</a></li>
                                <li><a href="#">Trends</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Music</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="other-page-link">
                <ul class="pagination">
                    <li><a href="#">newer post</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">older post</a></li>
                </ul>
            </div>
    </section>

         <!-- subscription area start -->
        <section id="subscribe-area">
            <div class="container">
                <div class="subscribe-wrapper">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="subscribe-text">
                                <h2>SubscribE Now</h2>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="subscribe-box">
                                <form class="subscription-form" method="POST" action="http://IAT.com/tf/html/IAT/buffet/php/subscribe.php">
                                    <input type="email" class="form-control" id="subscribe-input" name="subscribe-input" placeholder="Enter Your Email Address">
                                    <button class="email-submit-btn" type="submit">go</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
          <!-- CONTACT SECTION -->
        <section class="footer-bg">
        <div id="contact-section" class="gray-bg">
            <div class="container">
                <div class="contact-wrapper">
                <div class="row">
                        <div class="col-sm-5">
                            <div class="contact-form-area">
                                <h2 class="text-capitalize">Contact us</h2>
                                <form id="digita-contact-form" action="http://IAT.com/tf/html/IAT/buffet/php/contact-mail.php" method="POST">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Name" name="name" placeholder="Your Name*">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="Email" name="email" placeholder="Email Address*">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Website" name="website" placeholder="Your Website">
                                    </div>
                                    <div class="form-group">
                                        <textarea id="Message" class="form-control" rows="3" name="message" placeholder="Write Message*"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-blue"><img src="assets/img/icons/send-icon.png" alt="place your img"></button>
                                    <p class="contact-send-message"></p>
                                </form>
                            </div>
                        </div>
                    <div class="col-sm-7">
                      <div class="google-map">
                          <div id="map"></div>
                      </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- /CONTACT SECTION -->

            <div class="address-area">
            <div class="container">
                <div class="address-wrapper">
                  <div class="row">
                      <div class="col-md-4 col-sm-4 ">
                          <div class="single-address">
                            <div class="address-icon-bg">
                                 <span class="ti-headphone-alt"></span>
                              </div>
                              <p class="single-contact-info"><a href="tel:326578912">+145987565</a></p>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-4 ">
                          <div class="single-address">
                            <div class="address-icon-bg">
                              <span class="ti-pin2"></span>
                              </div>
                              <p>28 Green Tower, Street Name, New York City, USA</p>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-4 ">
                          <div class="single-address">
                            <div class="address-icon-bg">
                              <span class=" ti-email"></span>
                              </div>
                              <p class="single-contact-info"><a href="mailto:hasan.nazmulmmc@gamil.com">www.IAT.com</a> </p>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <section class="footer-area">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                  <div class="social-links">
                      <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                      <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                      <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                      <a href="#" target="_blank"><span class="ti-tumblr-alt"></span></a>
                  </div>
              </div>
              <div class="col-xs-12">
                <p class="copy-rights">Copyright @ 2019 <a href="#">IAT </a>all right resurved.</p>
              </div>
            </div>
          </div>
        </section>
    </section>




        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6iKLVzr34W23jAZDT3HlrElOHfK6IH_w"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/headroom.js"></script>
        <script src="assets/js/map.js"></script>
        <script src="assets/js/main.js"></script>
    </body>


</html>
