<!DOCTYPE html>
<html lang="en">


<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>IAT Apps Landing Template</title>
	    <!-- FAVICON -->
	    <link rel="apple-touch-icon" href="assets/img/favicon/apple-touch-icon.png">
	    <link rel="icon" href="assets/img/favicon/favicon.ico">
		  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <link href="assets/css/bootstrap.min.css" rel="stylesheet">
      <link href="assets/css/jquery.beefup.css" rel="stylesheet">
      <link href="assets/css/elements.css" rel="stylesheet">
      <link href="style.css" rel="stylesheet">
      <link href="assets/css/responsive.css" rel="stylesheet">

    </head>
    <body id="about-page">
        <div class="preloader-wrapper">
            <div class="preloader loading">
              <span class="slice"></span>
              <span class="slice"></span>
              <span class="slice"></span>
              <span class="slice"></span>
              <span class="slice"></span>
              <span class="slice"></span>
            </div>
         </div>
      <!-- HEADER AREA -->
        <header id="sticker" class="header-top headroom">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-header">
                <a href="#"  class="navbar-brand">
                <img src="assets/img/logo/logo.png" alt="IAT"> </a>

                </div>
              <div  id="navigation">
                  <div class="menu-main-menu-container">
                    <ul id="mainmenu" class="nav navbar-nav navbar-right">
                      <li class="dropdown  current-menu-has-children"><a href="#slider-section">Home</a>
                        <ul class="dropdown-nav dropdown-nav-left">
                            <li><a href="index.html">Home One</a></li>
                            <li><a href="index-2.html">Home Two</a></li>
                            <li><a href="index-3.html">Home Three</a></li>
                            <li><a href="index-4.html">Home Four</a></li>
                            <li><a href="index-5.html">Home Five</a></li>
                            <li><a href="index-6.html">Home Six</a></li>
                            <li><a href="index-7.html">Home Seven</a></li>
                            <li><a href="index-8.html">Home Eight</a></li>
                        </ul>
                      </li>
                      <li class=""><a href="#about">About</a></li>
                      <li class=""><a href="#features">Features</a></li>
                      <li class=""><a href="#screenshots">Screenshots</a></li>
                      <li class=""><a href="#Pricing">Pricing</a></li>
                      <li class="dropdown  current-menu-has-children">
                        <a href="#blog">Blog</a>
                        <ul class="dropdown-nav dropdown-nav-left">
                            <li><a href="blog-details.html">Blog post Details</a></li>
                            <li><a href="full-blog.html">Blog Post Full</a></li>
                            <li><a href="blog-left-sideber.html">Blog Left Sidebar</a></li>
                            <li><a href="blog-right-sideber.html">Blog Right Sidebar</a></li>
                        </ul>
                      </li>
                      <li class="dropdown  current-menu-has-children">
                        <a href="#">Pages</a>
                        <ul class="dropdown-nav dropdown-nav-left">
                            <li><a href="about.html">About Page </a></li>
                            <li><a href="feature.html">Features Page</a></li>
                            <li><a href="pricing-table.html">Pricing Table</a></li>
                            <li><a href="contact.html">Contact Page</a></li>
                            <li><a href="team.html">Team Member</a></li>
                            <li><a href="testimonial.html">Customer Review</a></li>
                            <li><a href="faq.html">Faq Page</a></li>
                            <li><a href="register.html">Register Page</a></li>
                            <li><a href="login.html">Login Page</a></li>
                            <li><a href="forget-passward.html">Forget Password</a></li>
                            <li><a href="coming-soon.html">Coming Soon Page</a></li>
                            <li><a href="404.html">404 Error Page</a></li>
                        </ul>
                      </li>
                      <li class=""><a href="#contact-section">Contact</a></li>
                    </ul>
                </div>
              </div>
            </div>
          </nav>
        </header>
        <section class="blog-full-page-area">
        	<div class="container">
        		<div class="row">
        			<div class="col-md-12">
        				<div class="blog-page-content-table">
        					<div class="blog-table-cell">
        						<h2> IAT FAQ's</h2>
        						<p>Now we are fast growing mobile app and Business as a Service (saas) <br> service provider of the world. Check out little bit about us.</p>
        					</div>
        				</div>
                  <div class="back-links">
                    <ul class="list-inline">
                      <li><a href="index.html">Home</a></li>
                      <li class="active">-  FAQ</li>
                    </ul>
                  </div>
                <img src="assets/img/screen/about-hero1.png" alt="image" class="about-hero">
        			</div>
        		</div>
        	</div>
        </section>
    <section id="faq-area" class="faq-area homepage-3 homepage-4 homepage-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <div class="section-heading text-center mb-50px">
                      <h2>Frequently asked questions</h2>
                      <img src="assets/img/section/section-icon.png" alt="place your img">
                      <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incidit labore Lorem ipsum amet madolor sit amet.</p>
                  </div>
                </div>
            </div>    <!--TAB AREA-->
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="tabs animated-slide-2  ">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
                                    <li role="presentation"><a href="#account" aria-controls="account" role="tab" data-toggle="tab">Account</a></li>
                                    <li role="presentation"><a href="#payment" aria-controls="payment" role="tab" data-toggle="tab">Payment</a></li>
                                    <li role="presentation"><a href="#security" aria-controls="security" role="tab" data-toggle="tab">Security</a></li>
                                </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active fade in" id="general">
                        <article class="beefup example-opensingle is-open">
                            <h4 class="beefup__head">
                                1. Sedeiusmod tempor inccsetetur aliquatraiy?
                                <span class="ti-angle-down"></span>
                            </h4>

                            <div class="beefup__body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                                </p>
                            </div>
                        </article>
                        <article class="beefup example-opensingle ">
                <h4 class="beefup__head ">
                   2. Lorem ipsum dolor amet, consect adipisicing elit?
                   <span class="ti-angle-down"></span>
                </h4>

                <div class="beefup__body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                    </p>
                </div>
            </article>
            <article class="beefup example-opensingle">
                <h4 class="beefup__head">
                  3. Tempor inccsetetur aliquatraiy?
                   <span class="ti-angle-down"></span>
                </h4>

                <div class="beefup__body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                    </p>
                </div>
            </article>
            <article class="beefup example-opensingle">
                <h4 class="beefup__head">
                    4. Consectetur adipisicing elit, sed do eiusmod tempor?
                    <span class="ti-angle-down"></span>
                </h4>

                <div class="beefup__body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                    </p>
                </div>
            </article>

                                </div>
                                <div  role="tabpanel" class="tab-pane fade" id="account">
                        <article class="beefup example-opensingle">
                            <h4 class="beefup__head">
                                1. Sedeiusmod tempor inccsetetur aliquatraiy?
                                <span class="ti-angle-down"></span>
                            </h4>

                            <div class="beefup__body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                                </p>
                            </div>
                        </article>
                        <article class="beefup example-opensingle is-open">
                <h4 class="beefup__head ">
                   2. Lorem ipsum dolor amet, consect adipisicing elit?
                   <span class="ti-angle-down"></span>
                </h4>

                <div class="beefup__body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                    </p>
                </div>
            </article>
            <article class="beefup example-opensingle">
                <h4 class="beefup__head">
                  3. Tempor inccsetetur aliquatraiy?
                   <span class="ti-angle-down"></span>
                </h4>

                <div class="beefup__body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                    </p>
                </div>
            </article>
            <article class="beefup example-opensingle">
                <h4 class="beefup__head">
                    4. Consectetur adipisicing elit, sed do eiusmod tempor?
                    <span class="ti-angle-down"></span>
                </h4>

                <div class="beefup__body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                    </p>
                </div>
            </article>
                                </div>
                                <div  role="tabpanel" class="tab-pane fade" id="payment">
                        <article class="beefup example-opensingle">
                            <h4 class="beefup__head">
                                1. Sedeiusmod tempor inccsetetur aliquatraiy?
                                <span class="ti-angle-down"></span>
                            </h4>

                            <div class="beefup__body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                                </p>
                            </div>
                        </article>
                        <article class="beefup example-opensingle">
                <h4 class="beefup__head ">
                   2. Lorem ipsum dolor amet, consect adipisicing elit?
                   <span class="ti-angle-down"></span>
                </h4>

                <div class="beefup__body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                    </p>
                </div>
            </article>
            <article class="beefup example-opensingle is-open">
                <h4 class="beefup__head">
                  3. Tempor inccsetetur aliquatraiy?
                   <span class="ti-angle-down"></span>
                </h4>

                <div class="beefup__body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                    </p>
                </div>
            </article>
            <article class="beefup example-opensingle">
                <h4 class="beefup__head">
                    4. Consectetur adipisicing elit, sed do eiusmod tempor?
                    <span class="ti-angle-down"></span>
                </h4>

                <div class="beefup__body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                    </p>
                </div>
            </article>
                                </div>
                                <div  role="tabpanel" class="tab-pane fade" id="security">
                        <article class="beefup example-opensingle">
                            <h4 class="beefup__head">
                                1. Sedeiusmod tempor inccsetetur aliquatraiy?
                                <span class="ti-angle-down"></span>
                            </h4>

                            <div class="beefup__body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                                </p>
                            </div>
                        </article>
                        <article class="beefup example-opensingle">
                <h4 class="beefup__head ">
                   2. Lorem ipsum dolor amet, consect adipisicing elit?
                   <span class="ti-angle-down"></span>
                </h4>

                <div class="beefup__body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                    </p>
                </div>
            </article>
            <article class="beefup example-opensingle">
                <h4 class="beefup__head">
                  3. Tempor inccsetetur aliquatraiy?
                   <span class="ti-angle-down"></span>
                </h4>

                <div class="beefup__body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                    </p>
                </div>
            </article>
            <article class="beefup example-opensingle is-open">
                <h4 class="beefup__head">
                    4. Consectetur adipisicing elit, sed do eiusmod tempor?
                    <span class="ti-angle-down"></span>
                </h4>

                <div class="beefup__body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                    </p>
                </div>
            </article>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>

    </div>

    </section>

         <!-- subscription area start -->
        <section id="subscribe-area">
            <div class="container">
                <div class="subscribe-wrapper">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="subscribe-text">
                                <h2>SubscribE Now</h2>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="subscribe-box">
                                <form class="subscription-form" method="POST" action="http://IAT.com/tf/html/IAT/buffet/php/subscribe.php">
                                    <input type="email" class="form-control" id="subscribe-input" name="subscribe-input" placeholder="Enter Your Email Address">
                                    <button class="email-submit-btn" type="submit">go</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
          <!-- CONTACT SECTION -->
        <section class="footer-bg">
        <div id="contact-section" class="gray-bg">
            <div class="container">
                <div class="contact-wrapper">
                <div class="row">
                        <div class="col-sm-5">
                            <div class="contact-form-area">
                                <h2 class="text-capitalize">Contact us</h2>
                                <form id="digita-contact-form" action="http://IAT.com/tf/html/IAT/buffet/php/contact-mail.php" method="POST">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Name" name="name" placeholder="Your Name*">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="Email" name="email" placeholder="Email Address*">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Website" name="website" placeholder="Your Website">
                                    </div>
                                    <div class="form-group">
                                        <textarea id="Message" class="form-control" rows="3" name="message" placeholder="Write Message*"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-blue"><img src="assets/img/icons/send-icon.png" alt="place your img"></button>
                                    <p class="contact-send-message"></p>
                                </form>
                            </div>
                        </div>
                    <div class="col-sm-7">
	                    <div class="google-map">
	                        <div id="map"></div>
	                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- /CONTACT SECTION -->

            <div class="address-area">
		        <div class="container">
		            <div class="address-wrapper">
			            <div class="row">
			                <div class="col-md-4 col-sm-4 ">
			                    <div class="single-address">
			                    	<div class="address-icon-bg">
			                       		 <span class="ti-headphone-alt"></span>
			                        </div>
			                        <p class="single-contact-info"><a href="tel:326578912">+145987565</a></p>
			                    </div>
			                </div>
			                <div class="col-md-4 col-sm-4 ">
			                    <div class="single-address">
			                    	<div class="address-icon-bg">
			                        <span class="ti-pin2"></span>
			                        </div>
			                        <p>28 Green Tower, Street Name, New York City, USA</p>
			                    </div>
			                </div>
			                <div class="col-md-4 col-sm-4 ">
			                    <div class="single-address">
			                    	<div class="address-icon-bg">
			                        <span class=" ti-email"></span>
			                        </div>
			                        <p class="single-contact-info"><a href="mailto:hasan.nazmulmmc@gamil.com">www.IAT.com</a> </p>
			                    </div>
			                </div>
			            </div>
		            </div>
		        </div>
		    </div>
		    <section class="footer-area">
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-xs-12">
	                        <div class="social-links">
	                            <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
	                            <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
	                            <a href="#" target="_blank"><span class="ti-facebook"></span></a>
	                            <a href="#" target="_blank"><span class="ti-tumblr-alt"></span></a>
	                        </div>
		    			</div>
		    			<div class="col-xs-12">
		    				<p class="copy-rights">Copyright @ 2019 <a href="#">IAT </a>all right resurved.</p>
		    			</div>
		    		</div>
		    	</div>
		    </section>
		</section>




        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6iKLVzr34W23jAZDT3HlrElOHfK6IH_w"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/beepup.js"></script>
        <script src="assets/js/headroom.js"></script>
        <script src="assets/js/map.js"></script>
        <script src="assets/js/main.js"></script>
    </body>


</html>

