<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>IAT</title>
	    <!-- FAVICON -->
	    <link rel="apple-touch-icon" href="assets/img/favicon/apple-touch-icon.png">
	    <link rel="icon" href="assets/img/favicon/favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/venobox.css" rel="stylesheet">
        <link href="assets/css/elements.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        <link href="assets/css/responsive.css" rel="stylesheet">

    </head>
    	<a href="#slider-section" class="scrolltotop homepage-1"><span class=""></span></a>
    <body class="homepage-five">
    	<div class="preloader-wrapper">
            <div class="preloader loading">
              <span class="slice"></span>
              <span class="slice"></span>
              <span class="slice"></span>
              <span class="slice"></span>
              <span class="slice"></span>
              <span class="slice"></span>
            </div>
         </div>
      <!-- HEADER AREA -->
        <header id="sticker" class="header-top headroom">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-header">
                <a href="#"  class="navbar-brand">
                <img src="assets/img/logo/logo.png" alt="IAT"> </a>

                </div>
              <div  id="navigation">
                  <div class="menu-main-menu-container">
                    <ul id="mainmenu" class="nav navbar-nav navbar-right">
                      <li class="dropdown  current-menu-has-children"><a href="#slider-section">Home</a>
                        <ul class="dropdown-nav dropdown-nav-left">
                            <li><a href="index-5.html">Home Five</a></li>
                        </ul>
                      </li>
                      <li class=""><a href="#about">About</a></li>
                      <li class=""><a href="#features">Features</a></li>
                      <li class=""><a href="#screenshots">Screenshots</a></li>
                      <li class=""><a href="#Pricing">Pricing</a></li>
	                  <li class="dropdown  current-menu-has-children">
                        <a href="#blog">Blog</a>
                        <ul class="dropdown-nav dropdown-nav-left">
                            <li><a href="blog-details.html">Blog post Details</a></li>
                            <li><a href="full-blog.html">Blog Post Full</a></li>
                            <li><a href="blog-left-sideber.html">Blog Left Sidebar</a></li>
                            <li><a href="blog-right-sideber.html">Blog Right Sidebar</a></li>
                        </ul>
	                  </li>
                      <li class="dropdown  current-menu-has-children">
                      	<a href="#">Pages</a>
                        <ul class="dropdown-nav dropdown-nav-left">
                            <li><a href="about.html">About Page </a></li>
                            <li><a href="feature.html">Features Page</a></li>
                            <li><a href="pricing-table.html">Pricing Table</a></li>
                            <li><a href="contact.html">Contact Page</a></li>
                            <li><a href="team.html">Team Member</a></li>
                            <li><a href="testimonial.html">Customer Review</a></li>
                            <li><a href="faq.html">Faq Page</a></li>
                            <li><a href="register.html">Register Page</a></li>
                            <li><a href="login.html">Login Page</a></li>
                            <li><a href="forget-passward.html">Forget Password</a></li>
                            <li><a href="coming-soon.html">Coming Soon Page</a></li>
                            <li><a href="404.html">404 Error Page</a></li>
                        </ul>
                      </li>
                      <li class=""><a href="#contact-section">Contact</a></li>
                    </ul>
                </div>
              </div>
            </div>
          </nav>
        </header>

        <section id="slider-section" class="homepage-slider-area">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="slider-content-table">
							<div class="slider-content-table-cell">
								<div class="slider-content">
									<h1 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".50s">Intelligent Automation Technology Ltd.</h1>
									<h2 class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".3s">Best Software <br> Telco Service,<br> Mobile & Web Development.</h2><br>
									<a class="download-btn all-btn wow fadeInUp" data-wow-duration="2s" data-wow-delay=".10s" href="#">Order Now</a>
								</div>
	                            <div class="video-area-bg wow fadeInUp" data-wow-duration="2s" data-wow-delay=".45s" >
	                                <a class="mfp-iframe video-play-btn venobox" data-autoplay="true" data-vbtype="video" href="http://youtu.be/watch?v=5SVR7x1ENm4">
	                                    </a>
	                                <h4> watch video</h4>
	                            </div>
							</div>
						</div>
					</div>
					<div class="slider-screen-2 hidden-xs"><img src="assets/img/screen/screen-2.png" alt="place your img" class="wow fadeInRight" data-wow-duration="2s" data-wow-delay=".75s"></div>
				</div>
			</div>
		</section>
		<section class="feature-area">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="single-feature">
							<span class="counter-number">01</span>
							<div class="feature-img">
								<span class="ti-vector"></span>
							</div>
							<a href="#"><h2>Forcast Sales</h2></a>
							<p>Adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amt, consectet incididunt ipsum lorem</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="single-feature">
							<span class="counter-number">02</span>
							<div class="feature-img">
								<span class="ti-panel"></span>
							</div>
							<a href="#"><h2>Retargetion Customer</h2></a>
							<p>Adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amt, consectet incididunt ipsum lorem</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="single-feature">
							<span class="counter-number">03</span>
							<div class="feature-img">
								<span class="ti-desktop"></span>
							</div>
							<a href="#"><h2>High Performance</h2></a>
							<p>Adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amt, consectet incididunt ipsum lorem</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="about"  class="about-area">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 ">
						<div class="about-left about-left-2">
							<img src="assets/img/screen/mobile-3.png" alt="place your img" class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="about-right">
							<h2>Why  IAT ?</h2>
							<p>Mistaken idea of denouncing pleasure and praising  was born and I will give you a complete account of the system, and expound. mistaken you a complete account.</p>
							<p class="another">Mistaken idea of denouncing pleasure and praising  was born and I will give you a complete account of the system.</p>
							<div class="about-list">
								<ul>
									<li>Mistaken idea of denouncing pleasure and praising pain.</li>
									<li>Mistaken idea of denouncing pleasure and praising pain idea of
									idea of denouncing pleasure and praising</li>
									<li>Mistaken idea of denouncing pleasure and praising pain.</li>
									<li>Mistaken idea of denouncing pleasure and praising pain.</li>
								</ul>
							</div>
							<a href="about.html" class="about-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".20s">read more</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="work-area">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="work-left">
								<h2>Why  IAT is <br> Best for your Business?</h2>
								<p>Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound. mistaken you a complete account.</p>
								<p class="other">Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
								<a href="#" class="about-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".20s">read more</a>
							</div>
						</div>
						<div class="col-md-5 col-md-offset-1 col-sm-6 ">
							<div class="work-right">
								<div class="single-work">
									<img src="assets/img/feature/work-1.png" alt="place your img">
									<h2>Login First</h2>
									<p>Lorem ipsum dolor sit amet, consectet adop adipisicing elit, eased do eiusmod temporara incididunt ugt labore.</p>
								</div>
								<div class="single-work">
									<img src="assets/img/feature/work-2.png" alt="place your img">
									<h2>Data Analysis</h2>
									<p>Lorem ipsum dolor sit amet, consectet adop adipisicing elit, eased do eiusmod temporara incididunt ugt labore.</p>
								</div>
								<div class="single-work">
									<img src="assets/img/feature/work-3.png" alt="place your img">
									<h2>Show Result</h2>
									<p>Lorem ipsum dolor sit amet, consectet adop adipisicing elit, eased do eiusmod temporara incididunt ugt labore.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="features" class="advance-feature-area">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="row ml-20">
									<div class="col-md-6 col-sm-6 col-xs-6">
										<div class="single-advance">
											<span class="ti-cup"></span>
											<h2>High Resolution</h2>
											<p>eiusmod temporara incididunta Lorem ipsum dolor sit amet.</p>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-6">
										<div class="single-advance">
											<span class="ti-vector"></span>
											<h2>Creative Design</h2>
											<p>eiusmod temporara incididunta Lorem ipsum dolor sit amet.</p>
										</div>
									</div>
								</div>
								<div class="row ml-20">
									<div class="col-md-6 col-sm-6 col-xs-6">
										<div class="single-advance">
											<span class="ti-eye"></span>
											<h2>Pixel Perfect</h2>
											<p>eiusmod temporara incididunta Lorem ipsum dolor sit amet.</p>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-6">
										<div class="single-advance">
											<span class="ti-magnet"></span>
											<h2>Ratina Ready</h2>
											<p>eiusmod temporara incididunta Lorem ipsum dolor sit amet.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="advance-feature about-right">
									<h2>Advance Features <br> That Give You Real Feel</h2>
									<p>Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound. mistaken you a complete account.</p>
									<div class="about-list">
										<ul>
											<li>Mistaken idea of denouncing pleasure and praising pain.</li>
											<li>Mistaken idea of denouncing pleasure and praising pain.</li>
											<li>Mistaken idea of denouncing pleasure and praising pain.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="screenshots" class="screenshots-area">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="section-heading text-center">
								    <h2>Software Screenshots</h2>
								    <img src="assets/img/section/section-icon.png" alt="place your img">
								    <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p>
								</div>
							</div>
						</div>
		          <!-- Swiper -->
	          	<div class="swiper-container">
		    		<div class="swiper-wrapper">
		              <div class="swiper-slide" style="background-image:url(assets/img/screen/softwear-1.png)"></div>
		              <div class="swiper-slide" style="background-image:url(assets/img/screen/softwear-1.png)"></div>
		              <div class="swiper-slide" style="background-image:url(assets/img/screen/softwear-1.png)"></div>
		            </div>

				    <!--  navigation buttons -->
				    <div class="swper-btn">
					    <button class="icon-prev "><span class="ti-angle-left"></span></button>
					    <button class="icon-next "><span class="ti-angle-right"></span></button>
					</div>
	            </div>
	          </div>
			</section>
			<section class="promo-video-area">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="video-demo-image">
								<div class="overlay-grad-one">
									<img src="assets/img/bg/promo-video.jpg" alt="place your img" class="img-responsive center-block">
								</div>
								<div class="mfp-iframe video-play-icon">
									<a class="venobox" data-autoplay="true" data-vbtype="video" href="http://youtu.be/watch?v=5SVR7x1ENm4">
										<span></span>
									</a>
									<p>watch video</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

       <!--FUN FACT AREA AREA-->

       <section class="fan-fact-area fan-fact-area-bg">
       	<div class="container">
       		<div class="row">
       			<div class="col-md-3 col-sm-3 ">
       				<div class="single-items">
       					<h2><span class="counter">1350</span>+</h2>
       					<div class="icon-bg">
       						<span class="ti-mouse"></span>
       					</div>
       					<h4>App Download</h4>
       				</div>
       			</div>
       			<div class="col-md-3 col-sm-3 ">
       				<div class="single-items">
       					<h2><span class="counter">950</span>+</h2>
       					<div class="icon-bg">
       						<span class="ti-user"></span>
       					</div>
       					<h4>Happy Clients</h4>
       				</div>
       			</div>
       			<div class="col-md-3 col-sm-3 ">
       				<div class="single-items">
       					<h2><span class="counter">1080</span>+</h2>
       					<div class="icon-bg">
       						<span class="ti-star"></span>
       					</div>
       					<h4>Active Accounts</h4>
       				</div>
       			</div>
       			<div class="col-md-3 col-sm-3 ">
       				<div class="single-items">
       					<h2><span class="counter">1020</span>+</h2>
       					<div class="icon-bg">
       						<span class="ti-heart"></span>
       					</div>
       					<h4>Positive Rating</h4>
       				</div>
       			</div>
       		</div>
       	</div>
       </section>

       <!--FUN FACT AREA AREA END-->
        <!--TESTIMONIAL-AREA -->
        <section class="testimonial-area">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
				<div class="section-heading text-center">
				    <h2>Testimonials</h2>
				    <img src="assets/img/section/section-icon.png" alt="place your img">
				    <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p>
				</div>
              </div>
            </div>
                <div class="testi-carousel">
                    <div class="testi-single-item ">
                        <div class="item-inner">
			                <div class="testimonial-meta">
                            <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
			                  <h4>CEO<br> <span>Company Name</span></h4>
			                </div>
                    		<p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
							eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
							<div class="testimonial-rating">
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                            </div>

		                </div>
                    </div>
                    <div class="testi-single-item ">
                        <div class="item-inner">
			                <div class="testimonial-meta">
                            <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
			                  <h4>Manger <br> <span>Company Name</span></h4>
			                </div>
                    		<p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
							eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
							<div class="testimonial-rating">
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                            </div>

		                </div>
                    </div>
                    <div class="testi-single-item ">
                        <div class="item-inner">
			                <div class="testimonial-meta">
                            <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
			                  <h4>M S Newaz <br> <span>UI Designer at IAT</span></h4>
			                </div>
                    		<p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
							eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
							<div class="testimonial-rating">
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                            </div>

		                </div>
                    </div>
                    <div class="testi-single-item ">
                        <div class="item-inner">
			                <div class="testimonial-meta">
                            <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
			                  <h4>Anika Mollik <br> <span>CEO IAT</span></h4>
			                </div>
                    		<p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
							eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
							<div class="testimonial-rating">
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                            </div>

		                </div>
                    </div>
                    <div class="testi-single-item ">
                        <div class="item-inner">
			                <div class="testimonial-meta">
                            <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
			                  <h4>M S Newaz <br> <span>UI Designer at IAT</span></h4>
			                </div>
                    		<p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
							eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
							<div class="testimonial-rating">
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                            </div>

		                </div>
                    </div>
                    <div class="testi-single-item ">
                        <div class="item-inner">
			                <div class="testimonial-meta">
                            <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
			                  <h4>Anika Mollik <br> <span>CEO IAT</span></h4>
			                </div>
                    		<p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
							eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
							<div class="testimonial-rating">
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                            </div>

		                </div>
                    </div>
                </div>

                <div class="slider-btns">
                    <button class="testi-nav-left"><span class="ti-angle-left"></span></button>
                    <button class="testi-nav-right"><span class="ti-angle-right"></span></button>
                </div>
          </div>
        </section>


        <!--TESTIMONIAL-AREA  END-->

        <!--BRANDE AREA -->

	    <section class="brand-area">
	        <div class="container">
	            <div class="all-brand-carsouel">

	                <div class="brand-single-item">
	                    <img src="assets/img/brand-logo/brand-icon-2.png" alt="brand-icon">
	                </div>

	                <div class="brand-single-item">
	                    <img src="assets/img/brand-logo/brand-icon-3.png" alt="brand-icon">
	                </div>

	                <div class="brand-single-item">
	                    <img src="assets/img/brand-logo/brand-icon-4.png" alt="brand-icon">
	                </div>

	                <div class="brand-single-item">
	                    <img src="assets/img/brand-logo/brand-icon-5.png" alt="brand-icon">
	                </div>

	                <div class="brand-single-item">
	                    <img src="assets/img/brand-logo/brand-icon-6.png" alt="brand-icon">
	                </div>

	                <div class="brand-single-item">
	                    <img src="assets/img/brand-logo/brand-icon-2.png" alt="brand-icon">
	                </div>

	                <div class="brand-single-item">
	                    <img src="assets/img/brand-logo/brand-icon-6.png" alt="brand-icon">
	                </div>

	                <div class="brand-single-item">
	                    <img src="assets/img/brand-logo/brand-icon-2.png" alt="brand-icon">
	                </div>
	            </div>
	        </div>
	    </section>

    <!--BRANDE AREA  END-->

        <!--PRICING-TABLE-AREA-->
		<section id="Pricing" class="pricing-table-area">
			<div class="container">
            <div class="row">
              <div class="col-md-12">
				<div class="section-heading text-center">
				    <h2>Select Your Plan</h2>
				    <img src="assets/img/section/section-icon.png" alt="place your img">
				    <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p>
				</div>
              </div>
            </div>
				<div class="row">
					<div class="col-md-4">
						<div class="single-pricing-table">
							<div class="pricing-heading">
								<h2>Basic</h2>
							</div>
							<div class="pricing-content">
								<ul>
									<li>100 MB Disk Space</li>
									<li>2 Subdomains</li>
									<li>5 Email Accounts</li>
									<li>Webmail Support</li>
								</ul>
							</div>
	                       	<div class="pricing-amount">
	                          <sup><span class="currency">$</span></sup>
	                          <span class="price">
	                              25
	                          </span>
	                          <span class="subscription">
	                              /Annualy
	                          </span>
	                       </div>
	                       <a class="pricing-btn blue-btn" href="#">PURCHASE</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-pricing-table">
							<div class="pricing-heading">
								<h2>Standard</h2>
							</div>
							<div class="pricing-content">
								<ul>
									<li>100 MB Disk Space</li>
									<li>2 Subdomains</li>
									<li>5 Email Accounts</li>
									<li>Webmail Support</li>
								</ul>
							</div>
	                       	<div class="pricing-amount">
	                          <sup><span class="currency">$</span></sup>
	                          <span class="price">
	                              25
	                          </span>
	                          <span class="subscription">
	                              /Annualy
	                          </span>
	                       </div>
	                       <a class="pricing-btn blue-btn" href="#">PURCHASE</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-pricing-table">
							<div class="pricing-heading">
								<h2>Premium</h2>
							</div>
							<div class="pricing-content">
								<ul>
									<li>100 MB Disk Space</li>
									<li>2 Subdomains</li>
									<li>5 Email Accounts</li>
									<li>Webmail Support</li>
								</ul>
							</div>
	                       	<div class="pricing-amount">
	                          <sup><span class="currency">$</span></sup>
	                          <span class="price">
	                              25
	                          </span>
	                          <span class="subscription">
	                              /Annualy
	                          </span>
	                       </div>
	                       <a class="pricing-btn blue-btn" href="#">PURCHASE</a>
						</div>
					</div>
				</div>
			</div>
		</section>



        <!--PRICING-TABLE-AREA  END-->


        <!--FAQ'S-AREA-->
        <section class="faq-area">
        	<div class="container">
        		<div class="row">
        			<div class="col-md-12">
						<div class="section-heading text-center">
						    <h2>Frequently asked questions</h2>
						    <img src="assets/img/section/section-icon.png" alt="place your img">
						    <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p>
						</div>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-md-6">
        				<div class="faq-left-2">
        					<img src="assets/img/screen/faq-img-2.png" alt="place your img">
        				</div>
        			</div>
                    <div class="col-md-6 ">
                        <article class="beefup example-opensingle">
                            <h4 class="beefup__head">
                                1. Sedeiusmod tempor inccsetetur aliquatraiy?
                                <span class="ti-angle-down"></span>
                            </h4>

                            <div class="beefup__body" >
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in  dolore
                                </p>
                            </div>
                        </article>
                        <article class="beefup example-opensingle is-open">
                <h4 class="beefup__head ">
                   2. Lorem ipsum dolor amet, consect adipisicing elit?
                   <span class="ti-angle-down"></span>
                </h4>

                <div class="beefup__body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in  dolore
                    </p>
                </div>
            </article>
            <article class="beefup example-opensingle">
                <h4 class="beefup__head">
                  3. Tempor inccsetetur aliquatraiy?
                   <span class="ti-angle-down"></span>
                </h4>

                <div class="beefup__body" >
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in  dolore
                    </p>
                </div>
            </article>
            <article class="beefup example-opensingle">
                <h4 class="beefup__head">
                    4. Consectetur adipisicing elit, sed do eiusmod tempor?
                    <span class="ti-angle-down"></span>
                </h4>

                <div class="beefup__body" >
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in  dolore
                    </p>
                </div>
            </article>
                    </div>
        		</div>
        	</div>
        </section>


        <!--FAQ'S-AREA  END-->

        <!--DOWNLOAD-AREA-->
        <section class="download-area">
		        <div id="background-19" class="mouse-bg hidden-xs hidden-sm"></div>
		        <div id="background-20" class="mouse-bg hidden-xs hidden-sm"></div>
		        <div id="background-21" class="mouse-bg hidden-xs hidden-sm"></div>
		        <div id="background-22" class="mouse-bg hidden-xs hidden-sm"></div>
		        <div id="background-23" class="mouse-bg hidden-xs hidden-sm"></div>
		        <div id="background-24" class="mouse-bg hidden-xs hidden-sm"></div>
		        <div id="background-25" class="mouse-bg hidden-xs hidden-sm"></div>
		        <div id="background-26" class="mouse-bg hidden-xs hidden-sm"></div>
		        <div id="background-27" class="mouse-bg hidden-xs hidden-sm"></div>
		        <div id="background-28" class="mouse-bg hidden-xs hidden-sm"></div>
		        <div id="background-29" class="mouse-bg hidden-xs hidden-sm"></div>
		        <div id="background-30" class="mouse-bg hidden-xs hidden-sm"></div>
		        <div id="background-31" class="mouse-bg hidden-xs hidden-sm"></div>
		        <div id="background-32" class="mouse-bg hidden-xs hidden-sm"></div>
		        <div id="background-33" class="mouse-bg hidden-xs hidden-sm"></div>
		        <div id="background-34" class="mouse-bg hidden-xs hidden-sm"></div>
		        <div id="background-35" class="mouse-bg hidden-xs hidden-sm"></div>
		        <div id="background-36" class="mouse-bg hidden-xs hidden-sm"></div>
        	<div class="container">
        		<div class="row">
        			<div class="col-md-12">
        				<div class="download-table">
        					<div class="download-table-cell">
        						<h2> <span> 30 days free trial ! </span> <br>  No Credit Card Required</h2>

        						<div class="button-group store-buttons">
	                                <a  href="#" class="btn-style-2 home-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">GET STARTED NOW</a>
	                            </div>

        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>

         <!--DOWNLOAD-AREA  END-->

          <!--BLOG-AREA  END-->
          <section id="blog" class="blog-area ">
          	<div class="container">
          		<div class="row">
          			<div class="col-md-12">
						<div class="section-heading text-center">
						    <h2>Latest Blog Post</h2>
						    <img src="assets/img/section/section-icon.png" alt="place your img">
						    <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p>
						</div>
          			</div>
          		</div>
          		<div class="row">
          			<div class="col-md-4">
          				<div class="single-blog-box">
	          				<div class="single-blog-image">
	          					<a href="#"><img src="assets/img/blog/blog-1.jpg" alt="place your img"></a>
	          				</div>
                            <div class="post-meta clearfix">
                                <div class="posted-by pull-left">
                                    <p><a href="#"><span class="ti-user"></span>Feb 01.2017</a></p>
                                </div>
                                <div class="post-date pull-right">
                                    <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                                </div>
                            </div>
          					<div class="blog-heading">
          						<a href="#"><h2>Beautiful Place for your Great Journey</h2></a>
          					</div>
          				</div>
          			</div>
          			<div class="col-md-4">
          				<div class="single-blog-box">
	          				<div class="single-blog-image">
	          					<a href="#"><img src="assets/img/blog/blog-2.jpg" alt="place your img"></a>
	          				</div>
                            <div class="post-meta clearfix">
                                <div class="posted-by pull-left">
                                    <p><a href="#"><span class="ti-user"></span>Feb 01.2017</a></p>
                                </div>
                                <div class="post-date pull-right">
                                    <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                                </div>
                            </div>
          					<div class="blog-heading">
          						<a href="#"><h2>Beautiful Place for your Great Journey</h2></a>
          					</div>
          				</div>
          			</div>
          			<div class="col-md-4">
          				<div class="single-blog-box">
	          				<div class="single-blog-image">
	          					<a href="#"><img src="assets/img/blog/blog-3.jpg" alt="place your img"></a>
	          				</div>
                            <div class="post-meta clearfix">
                                <div class="posted-by pull-left">
                                    <p><a href="#"><span class="ti-user"></span>Feb 01.2017</a></p>
                                </div>
                                <div class="post-date pull-right">
                                    <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                                </div>
                            </div>
          					<div class="blog-heading">
          						<a href="#"><h2>Beautiful Place for your Great Journey</h2></a>
          					</div>
          				</div>
          			</div>
          		</div>
          	</div>
          </section>

           <!--BLOG-AREA  END-->
		 <!-- subscription area start -->
        <section id="subscribe-area">
            <div class="container-fluid" style="padding: 0px;">
                <div class="subscribe-wrapper">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div id="Contact" class="subscribe-text">
                                <h2>SubscribE Now</h2>
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            <div class="subscribe-box">
			                    <form action="http://hackinout.us15.list-manage.com/subscribe/post-json?u=e44c1f194bec93e238615469e&amp;id=fa63cb4ac7&amp;c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
			                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter Your Email Address" required>
			                        <div aria-hidden="true">
			                            <input type="text" name="b_e44c1f194bec93e238615469e_f6f826e769" tabindex="-1" value="">
			                        </div>
			                        <input type="submit" value="GO" name="subscribe" id="mc-embedded-subscribe" class="mc-button">
			                        <div id="subscribe-result">
			                        </div>
			                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
          <!-- CONTACT SECTION -->
        <section class="footer-bg">
        <div id="contact-section" class="gray-bg">
            <div class="container">
	            <div class="contact-wrapper">
	                <div class="row">
	                        <div class="col-sm-5">
	                            <div class="contact-form-area">
	                                <h2 class="text-capitalize">Contact us</h2>
	                                <form id="digita-contact-form" action="http://IAT.com/tf/html/IAT/buffet/php/contact-mail.php" method="POST">
	                                    <div class="form-group">
	                                        <input type="text" class="form-control" id="Name" name="name" placeholder="Your Name*">
	                                    </div>
	                                    <div class="form-group">
	                                        <input type="email" class="form-control" id="Email" name="email" placeholder="Email Address*">
	                                    </div>
	                                    <div class="form-group">
	                                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
	                                    </div>
	                                    <div class="form-group">
	                                        <textarea id="Message" class="form-control" rows="3" name="message" placeholder="Write Message*"></textarea>
	                                    </div>
	                                    <button type="submit" class="btn btn-blue"><img src="assets/img/icons/send-icon.png" alt="place your img"></button>
	                                    <p class="contact-send-message"></p>
	                                </form>
	                            </div>
	                        </div>
	                    <div class="col-sm-7">
		                    <div class="google-map">
		                        <div id="">
											<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8683.084275197014!2d90.40018357166532!3d23.790590240957435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bfb8ed86dfa1%3A0xd2b1235a2a93df19!2sIntelligent+Automation+Technology+Ltd.!5e0!3m2!1sen!2sbd!4v1561280685502!5m2!1sen!2sbd" width="99.8%" height="510" frameborder="0" style="border:0" allowfullscreen></iframe>
										</div>
		                    </div>
	                    </div>
	                </div>
                </div>
            </div>
        </div>
        <!-- /CONTACT SECTION -->

            <div class="address-area" >
		        <div class="container-fluid" style="padding: 0px;">
		            <div class="address-wrapper">
			            <div class="row">
			                <div class="col-md-4 col-sm-4 ">
			                    <div class="single-address">
			                    	<div class="address-icon-bg">
			                       		 <span class="ti-headphone-alt"></span>
			                        </div>
			                        <p style="text-decoration:none;" class="single-contact-info"><a href="tel:+8801730372995">+(880)1730372995</a></p>
			                    </div>
			                </div>
			                <div class="col-md-4 col-sm-4 ">
			                    <div class="single-address">
			                    	<div class="address-icon-bg">
			                        <span class="ti-pin2"></span>
			                        </div>
			                        <p>House-61, Road-8, Block-F, Banani, Dhaka-1213</p>
			                    </div>
			                </div>
			                <div class="col-md-4 col-sm-4 ">
			                    <div class="single-address">
			                    	<div class="address-icon-bg">
			                        <span class=" ti-email"></span>
			                        </div>
			                        <p class="single-contact-info"><a href="mailto:info@iatlbd.com">www.iatlbd.com</a></p>
			                    </div>
			                </div>
			            </div>
		            </div>
		        </div>
		    </div>
		    <section class="footer-area">
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-xs-12">
	                        <div class="social-links">
	                            <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
	                            <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
	                            <a href="https://www.facebook.com/iatltd" target="_blank"><span class="ti-facebook"></span></a>
	                            <a href="#" target="_blank"><span class="ti-tumblr-alt"></span></a>
	                        </div>
		    			</div>
		    			<div class="col-xs-12">
		    				<p class="copy-rights">Copyright @ 2019 <a href="http://www.iatlbd.com"><b> Intelligent Automation Technology Ltd.</b></a>all right resurved.</p>
		    			</div>
		    		</div>
		    	</div>
		    </section>
		</section>









        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
   		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6iKLVzr34W23jAZDT3HlrElOHfK6IH_w"></script>
        <script src="assets/js/venobox.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/headroom.js"></script>
        <script src="assets/js/swiper.js"></script>
        <script src="assets/js/map.js"></script>
        <script src="assets/js/main.js"></script>
    </body>


</html>
